```
# Build artifacts
dist/
build/
*.css.map

# Dependencies
node_modules/

# Editors
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/

# Compression
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.rar
*.7z

# OS generated
.DS_Store
Thumbs.db
```